<div class="container">
  <% if @calculator.errors.any? %>
    <div>
      <h2>
        <%= t('activerecord.form_errors', count: @calculator.errors.count,
                                          model: t('models.calculator').downcase) %>
      </h2>
      <ul>
        <% @calculator.errors.full_messages.each do |error_message| %>
          <li><%= error_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= simple_form_for @calculator, url: account_calculator_path do |f| %>
    <div class="form-group row">
      <div class="col-12 has-float-label my-auto">
        <%= f.input :name, class: 'form-control' %>
        <%= f.input :product_id, collection: @products, include_blank: false %>
      </div>
    </div>

    <div class="div d-flex">
      <%= f.button :submit, t('.form.update_calculator_button'), class: 'btn btn-success mr-2 height-auto w-auto' %>
      <%= link_to account_calculators_path, class: 'btn btn-danger d-flex align-items-center justify-content-center height-auto w-auto' do %>
        <span class="mr-1"><%= t('.cancel_button') %></span>
        <i class="fa fa-times-circle"></i>
      <% end %>
    </div>
  <% end %>
</div>
