<div class="container">
  <% set_meta_tags(title: t(".title")) %>
  <div class="row">
    <%= render partial: "account/shared/search_form", locals: {
      search_url: account_calculators_path,
      search_attribute: :name_cont
    } %>
    <div class="col-md-6 text-end">
      <%= link_to new_account_calculator_path, class: "btn btn-green px-4 py-2" do %>
        <i class="fas fa-plus me-2"></i>
        <span><%= t(".add_calculator_button") %></span>
      <% end %>
    </div>
  </div>

  <table aria-label="calculators table" class="table admin-table">
    <thead>
      <tr>
        <th scope="col"><%= sort_link(@q, :id, "#", default_order: :desc) %></th>
        <th scope="col"><%= sort_link(@q, :name, t(".table.calculator_name"), default_order: :desc) %></th>
        <th scope="col"><%= sort_link(@q, :slug, t(".table.calculator_slug"), default_order: :desc) %></th>
        <th scope="col" class="text-center"><%= t('.table.show') %></th>
        <th scope="col" class="text-center"><%= t('.table.edit') %></th>
        <th scope="col" class="text-center"><%= t('.table.delete') %></th>
      </tr>
    </thead>
    <tbody class="admin-table-links">
      <% @calculators.each do |calculator| %>
        <tr class="<%= calculator.preferable ? "table-success" : "text-inherit" %>">
          <td><%= calculator.id %></td>
          <td><%= calculator.name %></td>
          <td><%= calculator.slug %></td>
          <td class="text-center"><%= link_to icon('fa-solid', 'eye'), account_calculator_path(slug: calculator) %></td>
          <td class="text-center"><%= link_to icon('fa-solid', 'edit'), edit_account_calculator_path(slug: calculator) %></td>
          <td class="text-center">
            <%= button_to account_calculator_path(slug: calculator), method: :delete,
                        data: { turbo_confirm: t(".confirm_delete") } do %>
              <i class="mx-2 fa fa-trash"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
