<% set_meta_tags(title: t(".meta-title")) %>

<div class="container">
  <div class="row mb-5">
    <%= render partial: "account/shared/search_form", locals: {
          q: @q,
          search_url: account_calculators_path,
          search_attribute: :name_cont
        } %>

    <div class="col-md-6 text-end">
      <%= link_to new_account_calculator_path, class: "btn btn-green px-4 py-2" do %>
        <i class="fas fa-plus me-2"></i>
        <span><%= t(".add_calculator_button") %></span>
      <% end %>
    </div>
  </div>

  <table aria-label="calculators table" class="table admin-table">
    <thead>
      <tr>
        <th scope="col"><%= sort_link(@q, :id, "#", default_order: :desc) %></th>
        <th scope="col"><%= sort_link(@q, :name, t(".table.calculator_name"), default_order: :desc) %></th>
        <th scope="col"><%= sort_link(@q, :slug, t(".table.calculator_slug"), default_order: :desc) %></th>
        <th scope="col" class="text-center"><%= t('.table.show') %></th>
        <th scope="col" class="text-center"><%= t('.table.edit') %></th>
        <th scope="col" class="text-center"><%= t('.table.duplicate') %></th>
        <th scope="col" class="text-center"><%= t('.table.delete') %></th>
      </tr>
    </thead>
    <tbody class="admin-table-links">
      <% @calculators.each do |calculator| %>
        <tr>
          <td><%= calculator.id %></td>
          <td><%= calculator.name %></td>
          <td><%= calculator.slug %></td>
          <td class="text-center"><%= link_to icon('fa-solid', 'eye'), account_calculator_path(slug: calculator) %></td>
          <td class="text-center"><%= link_to icon('fa-solid', 'edit'), edit_account_calculator_path(slug: calculator) %></td>
          <td data-controller="dialog" data-action="click->dialog#backdropClose" class="text-center">
            <dialog data-dialog-target="dialog" class="px-5 py-4 rounded admin-dialog text-start">
              <p class="mb-3 fs-4 fw-bold "><%= t(".dialog.are_you_sure") %></p>
              <p class="mb-4"><%= t(".dialog.dialog_description") %></p>
              <div class="d-flex justify-content-end">
                <%= button_tag t(".dialog.cancel"),
                               type: "button",
                               data: { action: "dialog#close" },
                               class: "btn btn-outline-green px-4 py-2 me-3" %>
                <%= button_to t(".dialog.duplicate"),
                              duplicate_account_calculator_path(slug: calculator),
                              method: :get,
                              autofocus: true,
                              class: "btn btn-green px-4 py-2 ms-3 text-white" %>
              </div>
            </dialog>

            <%= button_tag(type: "button", class: "p-0", data: { action: "dialog#open" }) do %>
              <i class="mx-2 fa fa-copy"></i>
            <% end %>
          </td>
          <td class="text-center">
            <%= button_to account_calculator_path(slug: calculator), method: :delete,
                        data: { turbo_confirm: t(".confirm_delete") } do %>
              <i class="mx-2 fa fa-trash"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @calculators %>
