<div class="jumbotron jumbotron-fluid position-relative rounded">
  <div class="d-flex justify-content-around flex-wrap calculator_wrap">
    <%= simple_form_for(api_v1_calculate_path, html: { class: "simple_form_calculator",
                                          data: { controller: "calculate",
                                                  calculate_url_value: api_v1_calculate_path,
                                                  calculate_calculation_results_outlet: '.result' }}) do |form| %>
      <div class="flex-item flex-column">

        <div class="mb-3">
          <%= "#{@calculator.product.title} calculator".capitalize %>
        </div>

        <%= form.input :period,
                        collection: use_period,
                        prompt: '__',
                        input_html: {
                          class: 'form_fild price_select rounded w-100',
                          data: { calculate_target: 'period' }
                        } %>

        <%= form.input :product_category,
                        collection: product_prices(@calculator),
                        prompt: '__',
                        input_html: {
                          class: 'form_fild price_select rounded w-100',
                          data: { calculate_target: 'priceCategory' }
                        } %>

        <%= form.submit t('calculators.buttons.calculate'),
                      class: 'calculate-btn result-btn',
                      data: { action: 'calculate#submit' } %>
      </div>
    <% end %>
  </div>
</div>

<div class="container calculation-results result" data-controller="calculation-results">
  <div class="main-result-container">
    <div class="result-container">
      <% calculation_items.each do |item| %>
        <div>
          <%= image_tag item[:image], class: "img-margin" %>
          <p data-calculation-results-target="<%= item[:data_target] %>">000</p>
          <p class="diapers-font"><%= item[:unit] %></p>
          <p class="diapers-font-text"><%= item[:text] %></p>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render "layouts/description_block" %>
