<div class="main-show-container">
  <%= link_to account_calculators_path, class: "back-arrow" do %>
    <%= inline_svg "icons/arrow-left.svg", class: "z-1 mr-2 mb-0.5" %>
    <span class="text-sm"><%= t('buttons.back') %></span>
  <% end %>

  <div class="calc-details mb-4">
    <span class="showpage-text text-sm"><%= t('.name') %>:</span>
    <p class="text-2xl font-extrabold"> <%= @calculator.name %> </p>
  </div>

  <div class="calc-details mb-6">
    <span class="showpage-text text-sm"><%= t('.slug') %>:</span>
    <p class="font-bold"> <%= @calculator.slug %> </p>
  </div>

  <div class="showpage-buttons">
    <%= link_to t('.edit'), 
                edit_account_calculator_path(@calculator.slug, locale: I18n.locale), 
                class: "btn btn-green" %>
    
    <%= button_to account_calculator_path(@calculator.slug, locale: I18n.locale), 
                  method: :delete,
                  data: { turbo_confirm: t('.confirm_delete') }, 
                  class: "btn btn-danger" do %>
      <%= t('.delete') %>
    <% end %>
  </div>
</div>