<% set_meta_tags(title: t(".meta-title")) %>

<div class="container">
  <% set_meta_tags(title: t(".title")) %>
  <div class="row">
    <%= render partial: "account/shared/search_form", locals: {
          q: @q,
          search_url: account_products_path,
          search_attribute: :title_cont
        } %>

    <div class="col-md-6 text-end">
      <%= link_to new_account_product_path, class: "btn btn-green px-4 py-2" do %>
        <i class="fas fa-plus me-2"></i>
        <span><%= t(".add_product_button") %></span>
      <% end %>
    </div>
  </div>

  <table aria-label="products table" class="table admin-table">
    <thead>
      <tr>
        <th scope="col"><%= sort_link(@q, :id, "#", default_order: :desc) %></th>
        <th scope="col"><%= sort_link(@q, :title, t('.table.title'), default_order: :desc) %></th>
        <th scope="col"><%= t('.table.prices') %></th>
        <th scope="col" class="text-center"><%= t('.table.edit') %></th>
        <th scope="col" class="text-center"><%= t('.table.delete') %></th>
      </tr>
    </thead>
    <tbody class="admin-table-links">
      <% @products.includes(prices: :category).each do |product| %>
        <tr>
          <td><%= product.id %></td>
          <td><%= product.title %></td>
          <td>
            <% product.prices.includes(:category).each do |price| %>
              <span><%= "#{price.category.name}: #{price.sum}" %></span>
              <br>
            <% end %>
          </td>
          <td class="text-center"><%= link_to icon('fa-solid', 'edit'), edit_account_product_path(id: product) %></td>
          <td class="text-center">
            <%= button_to account_product_path(id: product), method: :delete,
                        data: { turbo_confirm: t(".confirm_delete") } do %>
              <i class="mx-2 fa fa-trash"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
