<section class="description-section rounded jumbotron jumbotron-fluid position-relative grid grid-cols-4 gap-4 relative image-wrapper">
  <div class="p-4 text-center rounded-lg">
    <div class="relative image-container">
      <%= image_tag "menstrual-cup.jpg", class: "w-full h-full" %>
      <h3 class="reusable-item-name"><%= t(".menstrual_cup") %></h3>
      <%= link_to_external(text: t(".learn_more"), url: t(".menstrual_cup_link"), class: 'reusable-item-button') %>
    </div>
  </div>

  <div class=" p-4 text-center rounded-lg">
    <div class="relative image-container">
      <%= image_tag "reusable-pads" %>
      <h3 class="reusable-item-name"><%= t(".reusable_pads") %></h3>
      <%= link_to_external(text: t(".learn_more"), url: t(".reusable_pads_link"), class: 'reusable-item-button') %>
    </div>
  </div>

  <div class="p-4 text-center rounded-lg">
    <div class="relative image-container">
      <%= image_tag "menstrual-panties" %>
      <h3 class="reusable-item-name"><%= t(".menstrual_panties") %></h3>
      <%= link_to_external(text: t(".learn_more"), url: t(".menstrual_panties_link"), class: 'reusable-item-button') %>
    </div>
  </div>

  <div class="p-4 text-center rounded-lg">
    <div class="relative image-container">
      <%= image_tag "menstrual-disk" %>
      <h3 class="reusable-item-name"><%= t(".menstrual_disk") %></h3>
      <%= link_to_external(text: t(".learn_more"), url: t(".menstrual_disk_link"), class: 'reusable-item-button') %>
      </div>
    </div>
</section>

