<div class="container home">
  <div class="jumbotron">
    <div class="container">
      <div class="rounded float-left src">
        <%= image_tag "search.png", height: 70 %>
      </div>
          <p class="form-p">Just a couple of questions</p>
        <div class="form">
          <%= form_with url: "#", method: :get do |form| %>
        <div class="flex-item text-input">
          <input placeholder="Child`s birthday" type="text" onfocus="(this.type='date')" onblur="if(!this.value) this.type='text'" id="date" required="required"> 
          <%= form.text_field :baby_weight, placeholder: "Baby weight", class:"form-input", required: true%>
          <%= form.text_field :diapers_per_day, placeholder: "Diapers per day", class:"form-input", required: true%>
        </div>
        <div class="flex-item">
          <%= form.check_box :email_receiver  %>
          <%= form.label :email_receiver, "Yes, I want to receive email messages", class:"check-label"%> with recommendations
        </div>
        <div class="flex-item">
          <button type="sumbit" class="calculate-btn result-btn">
            <img src="assets/calculator.png", alt="any", id="calc"> CALCULATE RESULT
          </button>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>