<div class="rounded jumbotron jumbotron-fluid position-relative">
  <h1 class="pt-6 text-2xl font-semibold text-center text-success"><%= t(".calculator_name") %></h1>
  <div class="flex-wrap d-flex justify-content-around calculator_wrap ms-5">
    <%= simple_form_for(:pad, url: "#", html: { class: "simple_form_calculator",
                                                data: { controller: "mhc-calculator",
                                                        mhc_calculator_url_value: api_v1_pad_calculators_url,
                                                        mhc_calculator_pad_results_outlet: ".result" } }) do |form| %>
      <div class="flex-item flex-column group-wrapper">

        <div class="pb-2 input_lable">
          <%= label_tag "child_product_category", t(".form.user_age") %>
        </div>

        <%= form.input_field :user_age,
                             type: "number",
                             class: "form_fild price_select rounded w-100 form-control mb-0",
                             data: { mhc_calculator_target: "userAge" } %>

        <div class="pb-2 input_lable mt-6">
          <%= label_tag "child_product_category", t(".form.menstruation_age") %>
        </div>

        <%= form.input_field :menstruation_age,
                             type: "number",
                             class: "form_fild price_select rounded w-100 form-control mb-0	",
                             data: { mhc_calculator_target: "menstruationAge" } %>

        <div class="pb-2 input_lable info-div mt-6">
          <%= label_tag "child_product_category", t(".form.menopause_age") %>
          <%= image_tag "icons/info-circle.svg", class: "info-image" %>
          <%= label_tag "child_product_category", t(".form.menopause_age_info"), class: "info-label" %>
        </div>

        <%= form.input_field :menopause_age,
                              type: "number",
                              class: "form_fild price_select rounded w-100 form-control mb-0",
                              placeholder: "48",
                              data: { mhc_calculator_target: "menopauseAge" } %>

        <div class="pb-2 input_lable mt-6">
          <%= label_tag "child_product_category", t(".form.average_menstruation_cycle_duration") %>
        </div>

        <%= form.input_field :average_menstruation_cycle_duration,
                             type: "number",
                             class: "form_fild price_select rounded w-100 form-control mb-0",
                             data: { mhc_calculator_target: "averageMenstruationCycleDuration" } %>

        <div class="pb-2 input_lable mt-6">
          <%= label_tag "child_product_category", t(".form.pads_per_cycle") %>
        </div>

        <%= form.input_field :pads_per_cycle,
                             type: "number",
                             class: "form_fild price_select rounded w-100 form-control mb-0",
                             data: { mhc_calculator_target: "padsPerCycle" } %>

        <div class="pb-2 input_lable mt-6">
          <%= label_tag "child_product_category", t(".form.pad_category") %>
        </div>

        <%= form.input_field :product_category,
                             collection: [[t(".form.budgetary"), :budget], [t(".form.average"), :average], [t(".form.premium"), :premium]],
                             selected: "Budget",
                             class: "form_fild price_select rounded w-100 form-control mb-0",
                             data: { mhc_calculator_target: "padCategory" } %>

        <%= form.submit t("calculators.buttons.calculate"),
                        class: "calculate-btn result-btn mt-6",
                        data: { action: "mhc-calculator#submit" } %>
      </div>
    <% end %>

    <%= image_tag "pad_scales.png", class: "scales_img", alt: "Scales" %>
  </div>
</div>

<div class="jumbotron calculation-results result main-result-container result-container" data-controller="pad-results">
  <% mhc_calculator_items.each do |item| %>
    <% if item == "arrow" %>
      <div class="vector-width">
        <%= image_tag "icons/vector_5.png", class: "vector", alt: "horizontal arrow" %>
        <%= image_tag "icons/vector_2.png", class: "vector-mobile", alt: "vertical arrow" %>
      </div>
    <% else %>
      <div>
        <%= image_tag item[:image], class: "img-margin", alt: "icon" %>
        <p data-pad-results-target="<%= item[:data_target] %>">0</p>
        <p class="diapers-font"><%= item[:unit] %></p>
        <p class="diapers-font-text"><%= item[:text] %></p>
      </div>
    <% end %>
  <% end %>
</div>

<%= render "calculators/mhc_description_block" %>
