<div class="rounded jumbotron jumbotron-fluid position-relative">
  <a href="<%= root_path %>" class="px-2 mt-3 rounded back-link" >
    <div class="p back-text">
      <%= image_tag "icons/arrow-left.svg", class: "z-1" %>
      <%= t "calculators.buttons.to_main" %>
    </div>
  </a>

  <div class="flex-wrap d-flex justify-content-around calculator_wrap ms-5">
    <%= simple_form_for(:child, url: "#", html: { class: "simple_form_calculator",
                                            data: { controller: "input-child-info",
                                                    input_child_info_url_value: api_v1_diaper_calculators_url,
                                                    input_child_info_months_value: month_number("new"),
                                                    input_child_info_results_outlet: ".result" }}) do |form| %>
      <div class="flex-item flex-column">
        <div class="pb-2 input_lable">
          <%= t(".form.description") %>
        </div>

        <div class="flex-row rounded flex-item w-100 age_wrapper form_fild">
          <%= form.input_field :years,
                                collection: 0..2,
                                prompt: "__",
                                class: "select-age ms-2 rounded",
                                data: { input_child_info_target: "year", action: "input-child-info#yearChanged" } %>

          <%= t(".form.childs_years_label") %>

          <%= form.input_field :months,
                               collection: month_number("new"),
                               prompt: "__",
                               class: "select-age rounded",
                               data: { input_child_info_target: "month" } %>

          <%= t(".form.childs_months_label") %>
        </div>

        <div class="pb-2 input_lable">
          <%= t(".form.price") %>
        </div>

        <%= form.input_field :product_category,
                             collection: collection_product_category,
                             selected: t(".form.medium"),
                             label: t(".form_price"),
                             class: "form_fild price_select rounded w-100",
                             data: { input_child_info_target: "productCategory" } %>

        <%= form.submit t("calculators.buttons.calculate"),
                    class: "calculate-btn result-btn",
                    data: { action: "input-child-info#submit" } %>
      </div>
    <% end %>

    <%= image_tag "scales.png", class: "scales_img" %>
  </div>
</div>

<div class="container calculation-results result" data-controller="results">
  <div class="main-result-container">
    <div class="result-container">
      <% [{ image: "diapers_bought_2.png", data_target: "diapersUsed", unit: t(".pieces"), text: t(".bought_diapers") },
          "arrow",
          { image: "diapers_to_buy_2.png", data_target: "diapersToBeUsed", unit: t(".pieces"), text: t(".will_buy_diapers") },
          { image: "money_spent_2.png", data_target: "moneySpent", unit: t(".unit"), text: t(".money_spent") },
          "arrow",
          { image: "money_to_spent_2.png", data_target: "moneyWillBeSpent", unit: t(".unit"), text: t(".money_will_be_spent") }].each do |item| %>
        <% if item == "arrow" %>
          <div class="vector-width">
            <%= image_tag "icons/vector_5.png", class: "vector" %>
            <%= image_tag "icons/vector_2.png", class: "vector-mobile" %>
          </div>
        <% else %>
          <div>
            <%= image_tag item[:image], class: "img-margin" %>
            <p data-results-target="<%= item[:data_target] %>">000</p>
            <p class="diapers-font"><%= item[:unit] %></p>
            <p class="diapers-font-text"><%= item[:text] %></p>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div class="container calculation-results">
  <div class="row">
    <div class="col-xl-8 result-card">
      <%= render "layouts/description_block" %>
    </div>
    <div class="col-sm result-card">
      <button class="calculate-btn description-btn">
        <%= render "layouts/description_button" %>
      </button>
    </div>
  </div>
</div>
