<div class="rounded jumbotron jumbotron-fluid position-relative">
  <%= link_to root_path, class: "px-2 mt-3 rounded back-link" do %>
    <div class="back-text">
      <%= image_tag "icons/arrow-left.svg", class: "z-1", alt: "arrow left" %>
      <%= t("calculators.buttons.to_main") %>
    </div>
  <% end %>

  <div class="flex-wrap d-flex justify-content-around calculator_wrap ms-5">
    <div class="mx-5 mt-5 calc-container">
      <%= t(".form.description") %>
    </div>
    <%= simple_form_for(:child, url: "#", html: { class: "simple_form_calculator w-full mx-5",
                                                  data: { controller: "input-child-info",
                                                          input_child_info_url_value: api_v1_diaper_calculators_url,
                                                          input_child_info_months_value: month_number("old"),
                                                          input_child_info_results_outlet: ".result" }}) do |form| %>
      <div class="flex flex-row justify-content-start">
        <%= form.input_field :years,
                              collection: years_number,
                              prompt: t(".form.years_prompt"),
                              class: "rounded custom-select",
                              data: { input_child_info_target: "year", action: "input-child-info#yearChanged" } %>

        <%= form.input_field :months,
                              collection: month_number("old"),
                              prompt: t(".form.months_prompt"),
                              class: "rounded custom-select mx-5",
                              data: { input_child_info_target: "month" } %>
      </div>
      <%= form.hidden_field :product_category, collection: collection_product_category,
                              selected: t(".form.medium"),
                              data: { input_child_info_target: "productCategory" } %>
      <div class="block mt-4 mb-3">
        <%= form.submit t("calculators.buttons.calculate"),
                        class: "calculate-btn result-btn calc-item old-btn",
                        data: { action: "input-child-info#submit" } %>
      </div>
    <% end %>
  </div>
</div>

<div class="jumbotron calculation-results result" data-controller="results">
  <div class="row row-l">
    <% [{ image: "diapers_to_buy.png", data_target: "diapersToBeUsed", text_target: "willBuyDiapersPluralize", text: t(".will_buy_diapers", count: 0) },
        { image: "diapers_bought.png", data_target: "diapersUsed", text_target: "boughtDiapersPluralize", text: t(".bought_diapers", count: 0) },
        { image: "money_to_spent.png", data_target: "moneyWillBeSpent", text: t(".money_will_be_spent") },
        { image: "money_spent.png", data_target: "moneySpent", text: t(".money_spent") }].each do |item| %>
      <div class="col-sm result-card">
        <div class="img-border">
          <%= image_tag item[:image], class: "rounded", alt: "icon" %>
        </div>
        <span>
          <p data-results-target="<%= item[:data_target] %>">0</p>
          <a data-results-target="<%= item[:text_target] %>"><%= item[:text] %></a>
        </span>
      </div>
    <% end %>
  </div>
</div>

<div class="jumbotron calculation-results">
  <div class="row">
    <div class="col-xl-8 result-card">
      <%= render "layouts/description_block" %>
    </div>
    <div class="col-sm result-card">
      <button class="calculate-btn description-btn">
        <%= render "layouts/description_button" %>
      </button>
    </div>
  </div>
</div>
