<div class="container">
  <div class="text-4xl font-bold">Calculator <%= @calculator.en_name %></div>

  <%= form_with url: calculate_account_calculator_path(slug: @calculator.slug || @calculator.id) do |form| %>
    <% @calculator.fields.each do |field| %>
      <div class="space-y-4 form-inputs">
        <%= form.label field.var_name, field.en_label %><br>
        <% if field.field_type == 'number' %>
          <%= form.number_field "inputs[#{field.var_name}]", placeholder: field.en_label %>
        <% else %>
          <%= form.select "inputs[#{field.var_name}]", options_from_collection_for_select(field.categories, :price, :en_name) %>
        <% end %>
      </div>
    <% end %>
    <div class="mt-6 form-actions">
      <%= form.submit "Calculate", class: "bg-blue-500 text-white font-semibold px-4 py-2 rounded hover:bg-blue-700" %>
    </div>
  <% end %>

  <% if @result.present? %>
    <p>Result: <%= @result %></p>
  <% end %>
</div>
