<% set_meta_tags(title: t(".meta-title")) %>

<div class="position-block">
  <div class="card">
    <div class="card-block p-4">
      <h2 class="text-center text-2xl text-success py-4 font-semibold">
        <%= t('.contact_us_header') %>
      </h2>
      <div class="contact-form">
        <%= form_with model: @message do |form| %>
          <div class="title">
            <div class="text">
              <%= t('.title') %>
            </div>
            <%= form.text_field :title, class:'form-control', placeholder: t('.title_hint'), minlength: "5", required: true %>
          </div>
          <div class="email">
            <div class="text">
              <%= t('.email') %>
            </div>
            <%= form.email_field :email, class:'form-control', placeholder: 'example@example.com', required: true %>
          </div>
          <div class="msg">
            <div class="text">
              <%= t('.message') %>
            </div>
            <%= form.text_area :message, class: 'form-control', placeholder: (t('.message_hint')), size: "25x2", minlength:"20", required: true %>
          </div>
          <div class="d-flex justify-content-between flex-wrap flex-row-reverse">
            <%= form.submit t('.send'), class:"calculate-btn result-btn mt-3" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="text-success text-center pt-8">
      <span class="fas fa-globe"></span>
      <span class="text inline-block">
        <%= link_to "zerowastelviv.org.ua", "https://zerowastelviv.org.ua", target: "_blank", **seo_link_attributes %>
      </span>
    </div>
    <div class="flex justify-center">
      <%= link_to "https://www.facebook.com/zerowastelviv/", target: "_blank", **seo_link_attributes do %>
        <%= inline_svg("facebook_logo.svg", class: "w-12 px-2", title: "Facebook Logo") %>
      <% end %>

      <%= link_to "https://www.youtube.com/channel/UCpFxQ1UgIbwSAvWe0gOw0Zg", target: "_blank", **seo_link_attributes do %>
        <%= inline_svg("youtube_logo.svg", class: "w-12 px-2", title: "Youtube Logo") %>
      <% end %>

      <%= link_to "https://www.instagram.com/zerowastelviv/", target: "_blank", **seo_link_attributes do %>
        <%= inline_svg("instagram_logo.svg", class: "w-12 px-2",  title: "Instagram Logo") %>
      <% end %>
    </div>
  </div>
</div>
