<%= turbo_frame_tag :diapers_periods do %>
  <h3><strong><%= t(".edit_name") %></strong></h3>
  <%= simple_form_for(period, url: account_diapers_period_path(id: period), method: :patch, html: { class: "mt-4" }) do |form| %>
    <div class="group-wrapper">
      <div class="input-field-wrapper" title="<%= t(".cannot_edit_period") %>">
        <%= form.input :period_start,
              label: t(".period_start"),
              input_html: { value: period.period_start, disabled: true, style: "cursor: not-allowed" } %>
      </div>

      <div class="input-field-wrapper" title="<%= t(".cannot_edit_period") %>">
        <%= form.input :period_end,
              label: t(".period_end"),
              input_html: { disabled: true, style: "cursor: not-allowed" } %>
      </div>
    </div>

    <div class="mt-4 group-wrapper">
      <div class="input-field-wrapper">
        <%= form.input :usage_amount,
              label: t(".usage_amount") %>
      </div>

      <div class="input-field-wrapper">
        <%= form.input :price,
              label: t(".price") %>
      </div>
    </div>

    <%= form.input :category_id, as: :hidden, input_html: { value: period.category_id } %>

    <div class="mt-4 actions col-md-6 mb-md-0">
      <%= form.submit t('buttons.update'), class: "btn btn-success" %>
      <%= link_to(
            t(".back_button"),
            account_diapers_periods_path(category_id: period.category_id),
            class: "btn btn-secondary mt-2",
            data: { turbo_stream: true }
          ) %>
    </div>
  <% end %>
<% end %>
