<%= turbo_frame_tag :diapers_periods do %>
  <h3><strong>Edit Diapers Period</strong></h3>
  <%= simple_form_for period, url: account_diapers_period_path(period, locale: I18n.locale), method: :patch, html: { class: "mt-4" } do |form| %>

    <div class="flex flex-wrap mb-6 -mx-3">
      <div class="w-full px-3 mb-6 md:w-1/2 md:mb-0">
        <%= form.input :period_start, label: "Period Start", input_html: { class: "appearance-none border py-2 px-3 text-gray-700 w-full" } %>
      </div>

      <div class="w-full px-3 mb-6 md:w-1/2 md:mb-0">
        <%= form.input :period_end, label: "Period End", input_html: { class: "appearance-none border py-2 px-3 text-gray-700 w-full" } %>
      </div>
    </div>

    <div class="flex flex-wrap mt-4 mb-6 -mx-3">
      <div class="w-full px-3 mb-6 md:w-1/2 md:mb-0">
        <%= form.input :usage_amount, label: "Usage Amount", input_html: { class: "appearance-none border w-full py-2 px-3 text-gray-700" } %>
      </div>

      <div class="w-full px-3 mb-6 md:w-1/2 md:mb-0">
        <%= form.input :price, label: "Price", input_html: { class: "appearance-none border w-full py-2 px-3 text-gray-700" } %>
      </div>
    </div>

    <%= form.input :category_id, as: :hidden, input_html: { value: period.category_id } %>

    <div class="mt-4 actions md:w-1/2 md:mb-0">
      <%= form.submit %>
    </div>
  <% end %>

  <%= link_to(
      '[Back]',
      account_diapers_periods_path(category_id: period.category_id),
      class: "btn-grey mt-2",
      data: { turbo_stream: true }
    ) %>
<% end %>
