<div class="container home">
  <div class="row">
    <div class="col">
      <h1><%= t '.dashboard' %></h1>
      <table class="table">
        <thead>
          <tr>
            <td><%= t '.email' %></td>
            <td><%= t '.last_visit' %></td>
          </tr>
        </thead>
        <% @users.each do |user| %>
        <tr>
          <td><%= user.email %><br></td>
          <td><%= user.last_sign_in_at %><br></td>
        </tr>
        <% end %>
        </table>
    </div>
  </div>
</div>
