<%= turbo_frame_tag :diapers_periods do %>
  <h3><strong><%= t(".available") %></strong></h3>
  <br>
  <% if categories.exists? %>
    <table class="table admin-table">
      <thead class="border-b border-gray-600">
        <tr>
        <th><%= t(".category_name") %></th>
        <th class="flex justify-center"><%= t(".table.add") %></th>
        </tr>
      </thead>
      <tbody class="admin-table-links">
        <% categories.each do |category| %>
          <tr>
            <td><%= category.name %></td>
            <td>
              <%= link_to(
                    new_account_diapers_period_path(category_id: category.id),
                    class: "flex justify-center",
                    data: { turbo_stream: true }
                  ) do %>
                <i class="fa-solid fa-plus"></i>
                <i class="mx-2 fa fa-pen"></i>
              <% end %>
            </td>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p><%= t(".no_categories_available") %></p>
  <% end %>

  <%= link_to(
        (t".back_button"),
        categories_account_diapers_periods_path,
        data: { turbo_stream: true },
        class: "btn-grey px-4 py-2"
      ) %>
<% end %>
