<div class="calculation-results rounded jumbotron jumbotron-fluid position-relative">
  <h2 class="pt-6 text-2xl font-semibold text-center dynamic-text-color">Calculation Results</h2>
  <div class="jumbotron calculation-results result main-result-container result-container">
    <% results.each do |result| %>
      <div class="result-wrapper">
        <% if result[:relation] == "previous" %>
          <%= render "calculators/partials/show/relation_arrow", locals: {rotate_direction: "left"} %>
        <% end %>

        <div>
        <%= image_tag result[:formula_image], class: "formula-image", alt: "icon" %>
        <%= turbo_frame_tag "calc-result-#{result[:id]}" do %>
          <%= render partial: "calculators/partials/show/calculation_result",
                     locals: { result: result } %>
        <% end %>
        </div>

        <% if result[:relation] == "next" %>
          <%= render "calculators/partials/show/relation_arrow", locals: {rotate_direction: "right"} %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
