<div class="position-block">
  <div class="card text-center">
    <div class="card-block p-4">
      <h2><%= t(".forgot_password_header") %></h2>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="flex justify-between flex-wrap mb-4">
          <%= f.label :email, t(".form.email_label") %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>

        <div class="flex justify-between flex-wrap flex-row-reverse">
          <%= f.submit t(".send_instructions_button"), class: "btn btn-primary" %>

          <%= render "devise/shared/links" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
