<%= turbo_frame_tag :diapers_periods do %>
  <% if categories.present? %>
    <table class="table admin-table">
      <thead>
        <tr>
        <th><%= t(".category_name") %></th>
        <th class="text-center"><%= t(".table.show") %></th>
        <th class="text-center"><%= t(".table.delete") %></th>
        </tr>
      </thead>
      <tbody class="admin-table-links">
        <% categories.each do |category| %>
          <tr id="<%= dom_id(category) %>" class="<%= highlighted_row(category) %>">
            <td>
              <span><%= category.name %></span>
              <% if unfilled_categories.include?(category) %>
                <div class="position-relative d-inline-block" style="cursor: help;">
                  <span title="<%= t(".tooltip") %>">
                    <i class="text-warning fa-solid fa-circle-exclamation"></i>
                  </span>
                </div>
              <% end %>
            </td>
            <td class="text-center">
              <%= link_to(
                  icon("fa-solid", "eye"),
                  account_diapers_periods_path(category_id: category.id),
                  data: { turbo_stream: true }
                  )%>
            </td>
            <td class="text-center">
              <% if category.preferable? %>
                <div class="position-relative d-inline-block" style="cursor: help;">
                  <span title="<%= t(".cannot_delete_category") %>"><i class="mx-2 fa fa-trash"></i></span>
                </div>
              <% else %>
                <%= button_to(
                    account_diapers_periods_category_path(id: category.id),
                    method: :delete,
                    data: { turbo_confirm: t(".confirm_delete") }) do %>
                  <i class="mx-2 fa fa-trash"></i>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="mb-4 d-flex align-items-center">
      <i class="mx-4 fa fa-exclamation-triangle" style="color:orange"></i>
      <p class="mb-0"><%= t(".no_categories") %></p>
    </div>
  <% end %>

  <%= link_to(
        t(".add_button"),
        available_account_diapers_periods_categories_path,
        data: { turbo_stream: true },
        class: "btn btn-success px-4 py-2"
      ) %>
<% end %>
