<nav class="navbar navbar-expand-xl navbar-light bg-light w-100">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="/">
      <img src="/assets/logo_zerowaste.png" alt="ZeroWaste Logo" class="img-fluid" style="max-height: 100px;">
    </a>

    <div class="d-flex flex-row order-xl-2">
      <div class="d-flex align-items-center me-3 me-xl-3">
        <%= link_to url_for(locale: switch_locale_to), class: "btn btn-outline-success" do %>
          <%= t("#{switch_locale_to}") %>
        <% end %>
      </div>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav gap-4 text-center">
        <li class="nav-item">
          <%= link_to t(".calculators"), account_calculators_path, class: "nav-link #{current_page?(account_calculators_path) ? 'active' : ''}" %>
        </li>
        <li class="nav-item">
          <%= link_to t(".histories"), account_histories_path, class: "nav-link #{current_page?(account_histories_path) ? 'active' : ''}" %>
        </li>
        <li class="nav-item">
          <%= link_to t(".users"), account_users_path, class: "nav-link #{current_page?(account_users_path) ? 'active' : ''}" %>
        </li>
        <li class="nav-item">
          <%= link_to t(".messages"), account_messages_path, class: "nav-link #{current_page?(account_messages_path) ? 'active' : ''}" %>
        </li>
        <li class="nav-item">
          <%= link_to t(".products"), account_products_path, class: "nav-link #{current_page?(account_products_path) ? 'active' : ''}" %>
        </li>
        <li class="nav-item">
          <%= link_to t(".categories"), account_categories_path, class: "nav-link #{current_page?(account_categories_path) ? 'active' : ''}" %>
        </li>
        <li class="nav-item">
          <%= link_to t(".site_settings"), edit_account_site_setting_path, class: "nav-link #{current_page?(edit_account_site_setting_path) ? 'active' : ''}" %>
        </li>
      </ul>

    </div>

  </div>
</nav>
