<footer class="account-footer bg-light py-3 mt-auto w-100">
  <div class="container">
    <div class="row text-center text-xl-start justify-content-between align-items-center">
      <div class="col-12 col-xl-auto mb-2 mb-xl-0 text-muted small">
        &copy; <%= Date.current.year %>
        <%= link_to_external(text: "Zero Waste Lviv", url: t('link.zerowaste_link'), target: "_blank", class: "link text-success fw-semibold text-decoration-none") %>
      </div>
      <div class="col-12 col-xl-auto small">
        <%= t(".created_with") %>
        <span class="text-danger">&hearts;</span>
        <%= t(".by") %>
        <%= link_to_external(text: "SoftServe Academy", url: t('link.softserve_ita_link'), class: "link text-success fw-semibold text-decoration-none") %>
      </div>
    </div>
  </div>
</footer>
