<footer class="account-footer">
  <div class="container mx-auto">
    <div class="account-footer_text">
      <p>&copy; <%= Date.current.year %> <%= link_to "Zero Waste Lviv", t('link.zerowaste_link'), target: "_blank", class: "text-success underline" %></p>
      <p><%= t(".created_with") %> <span class="text-red-500">&hearts;</span> <%= t(".by") %> <%= link_to "SoftServe Academy", t('link.softserve_ita_link'), target: "_blank", class: "text-success underline" %></p>
    </div>
  </div>
</footer>
