<footer class="account-footer">
  <div class="container mx-auto">
    <div class="account-footer_text">
      <p>
        &copy;
        <%= Date.current.year %>
        <%= link_to_external(text: "Zero Waste Lviv", url: t('link.zerowaste_link'), target: "_blank", class: "link") %>
      </p>
      <p>
        <%= t(".created_with") %>
        <span class="text-red-500">&hearts;</span>
        <%= t(".by") %>
        <%= link_to_external(text: "SoftServe Academy", url: t('link.softserve_ita_link'), class: "link") %>
      </p>
    </div>
  </div>
</footer>
