<!DOCTYPE html>
<body>
  <main>
    <section>
      <h1 class="text-center text-2xl text-success"><%= t('about_us.title') %></h1>
      <p><%= t('about_us.description.first_paragraph') %></p>
      <p><%= t('about_us.description.second_paragraph') %></p>
      <p><%= t('about_us.description.third_paragraph') %></p>
    </section>
    <section>
      <h1 class="text-center text-2xl text-success"><%= t('our_team.title') %></h1>
      <p><%= t('our_team.description') %></p>
    </section>
    <div class="flex justify-evenly items-center">
      <%= image_tag "logo_zerowaste.png", class: "logo-zerowaste" %>
      <%= image_tag "softserve_academy_logo.png", class: "logo-zerowaste" %>
    </div>
  </main>
  <footer class="text-center text-success">
    <p><%= t('footer_about') %> <a href="https://zerowastelviv.org.ua/"> https://zerowastelviv.org.ua</a></p>
  </footer>
</body>
</html>
