<main class="container">
  <h1 class="homepage_title"><%= t '.homepage_title' %></h1>

  <div class="flex flex-col md:flex-row items-center justify-center gap-6">
    <div class="w-full md:w-1/2">
      <h2 class="homepage_title"><%= t '.diaper_calculator_title' %></h2>
      <p><%= t '.diaper_calculator_description' %></p>
      <%= link_to t('.calculate'), calculator_path, class: "main-btn btn-outline-green" %>
    </div>
    <% if Flipper[:mhc_calculator_status].enabled? %>
      <div class="w-full md:w-1/2">
        <h2 class="homepage_title"><%= t '.mhc_calculator_title' %></h2>
        <p><%= t '.mhc_calculator_description' %></p>
        <%= link_to t('.calculate'), mhc_calculator_path, class: "main-btn btn-outline-green" %>
      </div>
    <% end %>
  </div>

  <%= link_to_external(text: t('.visit_website'), url: t(".link"), class: 'main-btn btn-outline-gray justify-center btn-space mt-6') %>
</main>
