<turbo-frame id="diapers_categories">
  <table class="w-full">
    <thead>
      <tr>
        <th class="p-2 border border-gray-500">Period Start</th>
        <th class="p-2 border border-gray-500">Period End</th>
        <th class="p-2 border border-gray-500">Usage Amount</th>
        <th class="p-2 border border-gray-500">Price</th>
        <th colspan="2" class="p-2 border border-gray-500">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @diapers_periods.each do |diapers_period| %>
        <tr>
          <td class="p-2 border border-gray-500"><%= diapers_period.period_start %></td>
          <td class="p-2 border border-gray-500"><%= diapers_period.period_end %></td>
          <td class="p-2 border border-gray-500"><%= diapers_period.usage_amount %></td>
          <td class="p-2 border border-gray-500"><%= diapers_period.price %></td>
          <td class="p-2 border border-gray-500"><%= link_to '[Edit]', edit_diapers_period_account_site_setting_path(id: diapers_period.id), data: { turbo_frame: 'diapers_categories', turbo_frame: 'diapers_categories' } %></td>
          <td class="p-2 border border-gray-500"><%= button_to '[Delete]', account_diapers_period_path(id: diapers_period.id), method: :delete, data: { turbo_confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%# add delete period %>

  <%= link_to '[Add New Period]', new_account_site_setting_diapers_period_path(category_id: @category.id), class: "btn-grey mt-4" %>
  <%= link_to '[Back to Categories]', show_diapers_categories_account_site_setting_path, method: :get, data: { turbo_frame: 'diapers_categories' }, class: "btn-grey mt-4" %>

</turbo-frame>
