 <%= simple_form_for product, method: :patch, url: account_product_path, html: { id: dom_id(product, :form) }, data: { controller: "price-form", action: "submit->price-form#submit" } do |f| %>
    <div class="form-group row">
      <div class="my-auto col-12 has-float-label">
        <%= f.input :title, label: t('.title'), class: 'form-control col-sm-11' %>
        <% if categories.exists? %>
          <%= f.simple_fields_for :prices do |prices_form| %>
            <div class="checkbox-blocks">
              <%= check_box_tag prices_form.object.category.name, 1, true, data: { price_form_target: 'checkbox', action: "click->price-form#removePrice click->price-form#togglePrice" }, class: 'me-1' %>
              <%= label_tag prices_form.object.category.name %>
              <div class="hidden-sum" data-price-form-target="price" name="<%= prices_form.object.category.name %>">
                <%= prices_form.input :sum, label: false, input_html: { placeholder: t('.form.sum'), data: { price_form_target: 'priceInput' } } %>
                <%= prices_form.hidden_field :category_id, value: prices_form.object.category.id %>
                <%= prices_form.hidden_field :_destroy, data: { price_form_target: 'hiddenField' } %>
                <div class="error-message hidden text-error" data-price-form-target="errorMessage"><%= t(".form.error_sum") %></div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="mt-2 button-group d-flex">
      <%= f.submit t('.form.update_product_button'), class: 'btn btn-green me-2' %>
      <%= link_to account_products_path, class: 'btn btn-danger d-flex align-items-center justify-content-center' do %>
        <span class="me-1"><%= t('buttons.cancel') %></span>
      <% end %>
    </div>
  <% end %>
