<fieldset class="bordered nested-fields">
  <legend class="admin-legend">Field <span data-constructors-form-indexing-target="index">1</span></legend>

  <div data-controller="field-type">
    <%= f.input :en_label, label: "Field Label:" %>
    <%= f.input :uk_label, label: "Uk Field Label:" %>
    <%= f.input :var_name, label: "Variable Name:" %>
    <%= f.input(
          :kind,
          collection: Field.kinds.keys.map { |key| [key.humanize, key] },
          prompt: "Select Field Type",
          label: "Field Type:",
          input_html: { data: { field_type_target: "fieldTypeSelect" } }
        ) %>

    <div class="hidden category-fields" data-field-type-target="categoryFields">
      <fieldset class="bordered" data-controller="constructors-form-indexing"
                data-action="cocoon:after-insert->constructors-form-indexing#afterInsert cocoon:after-remove->constructors-form-indexing#afterRemove">
        <legend class="admin-legend">Categories</legend>

        <%= f.simple_fields_for :categories do |category_fields| %>
          <%= render "account/calculators/partials/category_fields", f: category_fields %>
        <% end %>
        <div class="links">
          <%= link_to_add_association "+ Add Category", f, :categories, partial: "account/calculators/partials/category_fields", class: "underline" %>
        </div>
      </fieldset>
    </div>

    <div class="hidden select-options" data-field-type-target="selectOptions">
      <fieldset class="bordered" data-controller="constructors-form-indexing"
                data-action="cocoon:after-insert->constructors-form-indexing#afterInsert cocoon:after-remove->constructors-form-indexing#afterRemove">
        <legend class="admin-legend">Select Options</legend>

        <%= f.simple_fields_for :select_options do |option_fields| %>
          <%= render "account/calculators/partials/select_option_fields", f: option_fields %>
        <% end %>

        <div class="links">
          <%= link_to_add_association "+ Add Option", f, :select_options, partial: "account/calculators/partials/select_option_fields", class: "underline" %>
        </div>
      </fieldset>
    </div>

    <div class="hidden periodical-category" data-field-type-target="periodicalCategory">
      <fieldset class="bordered" data-controller="constructors-form-indexing"
                data-action="cocoon:after-insert->constructors-form-indexing#afterInsert cocoon:after-remove->constructors-form-indexing#afterRemove">
        <legend class="admin-legend">Periodical Category</legend>

        <%= f.simple_fields_for :periods do |periodical_fields| %>
          <%= render "account/calculators/partials/periodical_category_fields", f: periodical_fields %>
        <% end %>

        <div class="links">
          <%= link_to_add_association "+ Add Option", f, :periods, partial: "account/calculators/partials/periodical_category_fields", class: "underline" %>
        </div>
      </fieldset>
    </div>

    <%= link_to_remove_association "- Remove Field", f, class: "text-red-500 underline" %>
  </div>
</fieldset>
