<fieldset class="bordered nested-fields">
  <legend class="admin-legend">Formula <span data-constructors-form-indexing-target="index">1</span></legend>
  <div>
    <%= f.input :en_label, label: "Formula Label:" %>
    <%= f.input :uk_label, label: "Uk Formula Label:" %>
    <%= f.input :expression, label: "Formula Expression:" %>

    <%= f.input :uk_unit, label: "Uk Unit Label:" %>
    <%= f.input :en_unit, label: "Unit Label:" %>

    <%= link_to_remove_association "- Remove Formula", f, class: "text-red-500 underline" %>
  </div>
</fieldset>
