<fieldset class="bordered nested-fields">
  <legend class="admin-legend"><%= t(".formula_legend") %> <span data-constructors-form-indexing-target="index">1</span></legend>
  <div>
    <%= f.input :en_label, label: t(".formula_label") %>
    <%= f.input :uk_label, label: t(".uk_formula_label") %>
    <%= f.input :priority, label: t(".priority_label"), collection: Formula::PRIORITY_RANGE, wrapper: :custom_vertical_select %>
    <%= f.input :expression, as: :text, label: t(".formula_expression_label"), input_html: { class: "formula",
    data: { controller: "textarea", action: "input->textarea#input" }
  } %>

    <%= f.input :uk_unit, label: t(".uk_unit_label") %>
    <%= f.input :en_unit, label: t(".unit_label") %>
    <%= f.input :relation, as: :select, label: t(".relation_label"),
        collection: {
          t(".relation_options.none") => nil,
          t(".relation_options.next") => "next",
          t(".relation_options.previous") => "previous"
        }, default: t(".relation_options.none") %>

    <%= f.label :formula_image, t(".upload_formula_image_label"), class: "form-label d-block" %>
    <%= f.file_field :formula_image,
                     accept: Formula::ALLOWED_IMAGE_TYPES.join(","),
                     class: "flex mb-3 file-input" %>

    <% if f.object.persisted? && f.object.formula_image.attached? %>
      <div class="mt-2">
        <p><%= t(".current_image_text") %></p>
        <%= image_tag f.object.formula_image, class: "w-32 h-32 rounded shadow" %>
        <p class="text-sm text-gray-600"><%= t(".keep_current_image_text") %></p>
      </div>
    <% end %>

    <%= link_to_remove_association t(".remove_formula_link"), f, class: "text-red-500 underline" %>
  </div>
</fieldset>
