<%= simple_form_for(@calculator, url: account_calculators_path) do |f| %>
  <div class="form-group row">
    <div class="my-auto col-12 has-float-label">
      <%= f.input :en_name, label: "Calculator Name:", class: 'form-control' %>
      <%= f.input :uk_name, label: "Uk Calculator Name:", class: 'form-control' %>
      <div id="fields" class="space-y-4">
        <%= render "account/calculators/partials/color_selector", f: f %>
      </div>

      <!-- formula input-->
      <div id="formulas" class="space-y-4">
        <%= f.simple_fields_for :formulas do |formula_fields| %>
          <%= render "account/calculators/partials/formula_fields", f: formula_fields %>
        <% end %>
        <div class="links">
          <%= link_to_add_association "+ Add Formula", f, :formulas, partial: "account/calculators/partials/formula_fields", class: "underline" %>
        </div>
      </div>

      <!-- field input-->
      <div id="fields" class="space-y-4">
        <%= f.simple_fields_for :fields do |field_fields| %>
          <%= render "account/calculators/partials/field_fields", f: field_fields %>
        <% end %>
        <div class="links">
          <%= link_to_add_association "Add Field", f, :fields, partial: "account/calculators/partials/field_fields", class: "underline" %>
        </div>
      </div>
    </div>
  </div>

  <div class="button-group d-flex">
    <%= f.button :submit, t('account.calculators.new.create_calculator_button'), class: 'btn btn-green me-2 height-auto w-auto' %>
    <%= link_to account_calculators_path, class: 'btn btn-danger d-flex align-items-center justify-content-center height-auto w-auto' do %>
      <span><%= t('buttons.cancel') %></span>
    <% end %>
  </div>
<% end %>
