<%= turbo_frame_tag :diapers_periods do %>
  <% if categories.present? %>
    <table class="table admin-table">
      <thead>
        <tr>
        <th><%= t(".category_name") %></th>
        <th class="text-center"><%= t('.table.show') %></th>
        <th class="text-center"><%= t('.table.delete') %></th>
        </tr>
      </thead>
      <tbody class="admin-table-links">
        <% categories.each do |category| %>
          <tr id="<%= dom_id(category) %>">
            <td><%= category.name %></td>
            <td class="text-center">
              <%= link_to(
                  icon('fa-solid', 'eye'),
                  account_diapers_periods_path(category_id: category.id),
                  data: { turbo_stream: true }
                  )%>
            </td>
            <td class="text-center">
              <%= button_to(
                  destroy_category_account_diapers_periods_path(category_id: category.id),
                  method: :delete,
                  data: { turbo_confirm: t(".confirm_delete") }) do %>
                <i class="mx-2 fa fa-trash"></i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <p><%= t(".no_categories") %></p>
  <% end %>

  <%= link_to(
        t(".add_button"),
        available_categories_account_diapers_periods_path,
        data: { turbo_stream: true },
        class: "btn-grey"
      ) %>
<% end %>
