<h1><%= @feature_flag.name %> Feature Flag</h1>

<p>Active: <%= @feature_flag.enabled? ? 'Yes' : 'No' %></p>

<% if @feature_flag.enabled? %>
  <%= form_with url: disable_account_feature_flag_path(@feature_flag), method: :put do |form| %>
    <div class="actions">
      <%= form.submit 'Disable' %>
    </div>
  <% end %>
<% else %>
  <%= form_with url: enable_account_feature_flag_path(@feature_flag), method: :put do |form| %>
    <div class="actions">
      <%= form.submit 'Enable' %>
    </div>
  <% end %>
<% end %>

<%= link_to 'Back', account_feature_flags_path %>
