<h1>Feature Flags</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Active</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @feature_flags.each do |feature_flag| %>
      <tr>
        <td><%= feature_flag.name %></td>
        <td><%= feature_flag.enabled? ? 'Yes' : 'No' %></td>
        <td>
          <%# <%= link_to 'Edit', account_feature_flag_path(feature_flag) %> %>
          <%# <%= link_to 'Delete', account_feature_flag_path(feature_flag), method: :delete, data: { confirm: 'Are you sure?' } %> %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Feature Flag', new_account_feature_flag_path %>
