<h1 class="display-4 text-center mt-5 mb-5">
  <%= t '.welcome_header' %>
</h1>
<div class="container home">
  <div class="jumbotron">
    <div class="container">
      <h3 class="container ml-2"><%= t '.form_description' %></h3>
      <form action="" id = "form" class="container mt-3">
        <div class="container input-group d-flex justify-content-between">
          <label for="" class="text-center">
            <%= t '.form.childs_birthday_label' %>
            <input id="birth" type="text" class="col datepick" />
          </label>
          <label for="" class="text-center">
            <%= t '.form.baby_weight_label' %>
            <input type="text" class="col" />
          </label>
        </div>
        <div class="container ml-3 mt-4 form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckChecked"
            checked
          />
          <label class="form-check-label" for="flexCheckChecked">
            <%= t '.want_recomentation_label' %>
          </label>
        </div>
        <button type="submit" class="btn btn-success ml-3 mt-4">
          <%= t '.calculate_result_button' %>
        </button>
      </form>
    </div>
  </div>
</div>
