<% set_meta_tags(title: t(".meta-title")) %>

<div class="container p-3 bg-light">
  <h2 class="p-3 text-center"><%= t('.history_title') %></h2>
  <table aria-label="history table" class="table table-striped table-bordered">
    <thead>
      <tr class="text-center table-secondary">
        <th class="align-baseline"><%= t '.table.version_created_at' %></th>
        <th class="align-baseline"><%= t '.table.event_ID' %></th>
        <th class="align-baseline"><%= t '.table.user_id' %></th>
        <th class="align-baseline"><%= t '.table.action' %></th>
        <th class="align-baseline"><%= t '.table.more_info_(field, old_value, new_value)' %></th>
        <th class="align-baseline"><%= t '.table.model_type' %></th>
      </tr>
    </thead>
    <tbody>
      <% @versions.each do |version| %>
        <tr class="align-baseline">
          <td><%= l(version.created_at, format: "%-d.%m.%Y %H:%M:%S") %></td>
          <td><%= version.id %></td>
          <td><%= version.item_id %></td>
          <td><%= version.event %></td>
          <td>
            <table aria-label="changes table" class="table-borderless">
              <% version.changeset.each do |key, val| %>
                <tr>
                  <th><%= key %></th>
                  <td><%= val.join(' => ') %></td>
                </tr>
              <% end %>
            </table>
          </td>
          <td><%= version.item_type %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @versions %>
