<%= link_to account_messages_path, class: "rounded mt-3 px-2 flex items-center" do %>
  <%= image_tag "icons/arrow-left.svg", class: "z-1 mr-2 mb-0.5" %>
  <span class="text-sm"><%= t('buttons.back') %></span>
<% end %>
</br>
<div class="container d-flex justify-content-between">
  <div>
    <h2><%= t('.header') %></h2>
    <dl>
      <dt><%= t('.table.title_col') %></dt>
      <dd><%= @message.title %></dd>

      <dt><%= t('.table.message_col') %></dt>
      <dd><%= @message.message %></dd>

      <dt><%= t('.table.email_col') %></dt>
      <dd><%= @message.email %></dd>

      <dt><%= t('.table.time_col') %></dt>
      <dd><%= l(@message.created_at, format: :short) %></dd>
    </dl>
  </div>
</div>
