<footer class="py-4 footer container">
  <div class="row footer-items">
    <div class="col">
      <h5><%= t '.ngo' %></h5>
      <p>
        <%= t '.rights' %><a href="mailto:hello@zerowastelviv.org.ua"
        > hello@zerowastelviv.org.ua</a>
      </p>
    </div>
    <div class="col">
      <h5><%= t '.about' %></h5>
      <div>
        <div><a href="#"><%= t '.about_zw' %></a></div>
        <div class="above"><a href="#"><%= t '.about_zwl' %></a></div>
        <div><a href="#"><%= t '.team' %></a></div>
      </div>
    </div>
    <div class="col">
      <h5><%= t '.follow' %></h5>
      <div>
        <a href="mailto:zerowastelviv@gmail.com"><%= t '.mail' %></a>
      </div>
      <div class="social-links above">
        <a href="#" class="link"><i class="fab fa-youtube fa-2x"></i></a>
        <a href="#" class="link"><i class="fab fa-instagram fa-2x"></i></a>
        <a href="#" class="link"><i class="fab fa-facebook-f fa-2x"></i></a>
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-3">
    <div><%= t '.copy_html' %></div>
    <div class="ml-4 mr-4"><a href=""><%= t '.policy' %></a></div>
    <div><a href=""><%= t '.terms' %></a></div>
  </div>
</footer>
