<!DOCTYPE html>
<html lang="EN" xml:lang="en">
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  <title><%= site_settings.title %></title>
  <%= favicon_link_tag(url_for(site_settings.favicon)) %>
  <meta content="width=device-width,initial-scale=1" name="viewport" />
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>  <%= javascript_importmap_tags %>
</head>
<body class="admin">
  <%= render 'layouts/flash_messages' %>
  <%= render 'layouts/account_navbar' %>
  <div class="container admin-container">
    <%= yield %>
  </div>
</body>
</html>
