<!DOCTYPE html>
<html lang="EN" xml:lang="en">
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  <%= favicon_link_tag(url_for(SiteSetting.current.favicon)) if SiteSetting.current.favicon.attached? %>
  <%= display_meta_tags(
      site: SiteSetting.current.title,
      reverse: true
  ) %>
  <meta content="width=device-width,initial-scale=1" name="viewport" />
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbo-track': 'reload' %>
  <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbo-track': 'reload' %>
  <%= stylesheet_link_tag "inter-font", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
  <%= tinymce_assets %>
</head>
<body class="d-flex flex-column min-vh-100 admin">
  <%= render 'shared/flash_messages' %>
  <%= render 'shared/account_navbar' %>
  <main class="container admin-container flex-grow-1">
    <%= yield %>
  </main>
  <%= render 'shared/account_footer' %>
</body>
</html>
